/log
/temp
/data
/roles
/config
/bin/ext-accelerator/
/bin/ext-addon/
/bin/ext-atdd/
/bin/ext-atddtests/
/bin/ext-backoffice/
/bin/ext-channel/
/bin/ext-cockpit/
/bin/ext-commerce/
/bin/ext-content/
/bin/ext-customer-experience/
/bin/ext-data/
/bin/ext-eventtracking/
/bin/ext-integration/
/bin/ext-platform-backoffice/
/bin/ext-platform-optional/
/bin/ext-print/
/bin/ext-supportability/
/bin/ext-template/
/bin/ext-smartedit
/bin/ext-webservices
/bin/custom/sample/samplecockpits
/bin/custom/sample/samplecore
/bin/custom/sample/samplefacades
/bin/custom/sample/samplefulfilmentprocess
/bin/custom/sample/sampleinitialdata
/bin/custom/sample/samplestorefront
/bin/custom/sample/sampletest
/bin/platform